<h2 class="header">What do you like to ask today?</h2><hr />
<div class="newq">
<%= render 'form', question: @question %>
<%= link_to 'Back', questions_path, id: "back-link-question",class: "btn btn-danger" %>
</div>