<% label_for_comment = "write some comment" %>
<%= form_for([@post,@comment]) do |f| %>
		<p>
				<%= f.label label_for_comment %><br/>
				<%= f.text_area :body %>
		</p>
		<p>
				<%= f.submit 'Submit' %>
		</p>
<% end %>
