<h4>Cancel my account</h4>
<p>Are you sure you want to delete your account? This action is irreversible!! <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn btn-danger" %></p>

