<h2 class="header">All Other Users</h2><hr />
<div class="users">
		<div class="form">
				<%= form_tag users_path, :method => :get do %>
						<%= text_field_tag :search, params[:search], class: "form-control" %>
						<br><%= submit_tag "Search" , class: "btn btn-secondary"%>
				<% end %><br>
				<h2 style="color:red">Top User</h2>
				<% if @users.size > 0 %>
						<ul><%= render @users %></ul>
				<% else %>
						<p>You have not any friends of that match.</p>
				<% end %>
		</div>
</div>
