<h1>My friends</h1>
<% if @friendships.size > 0  %>
		<% @friendships.each do |friend| %>
				<p>				<%= friend.posts %></p>
				<p>				<%= friend.email  %></p>
				<small><%= link_to "view profile",user_path(friend)%></small>
				<small><%= link_to "unfollow",friendship_path(friend), method: :delete%></small>
		<% end %>
		<% else %>
		<h1>You don't have any friends at all </h1>
<% end %>
