<style>
 q {
		 background-color: red;
		 width: 300px;
		 height: 50px;
		 display: block;
 }
 
</style>

<h1>Social network</h1>
<p>A web application for developers: </p>
<q>Highly co-related with medium.com,stackoverflow</q> <br/>
<q>Also features user recommendation system</q>
