<!-- ani yesma chai tyo form lai call garya xa... -->
<!-- aba yeei two wota page ma edit garepani hunxa... -->
<!-- aarko partial banayepani hunxa navaye... ani tesma chai guff eta uti poster soster halye hunxa...-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!-- <div class="field">
     <%#= f.label :email %><br />
     <%#= f.email_field :email, autofocus: true %>
		 </div> -->

<!-- <div class="field">
     <%#=f.label :password %><br />
     <%#= f.password_field :password, autocomplete: "off" %>
		 </div> -->

  <%#= if devise_mapping.rememberable? -%>
<!-- <div class="field">
     <%#= f.check_box :remember_me %>
     <%#= f.label :remember_me %>
     </div> -->
  <%# end -%>

<!-- <div class="actions">
     <%#= f.submit "Log in" %>
		 </div>
		 <%# end %> -->
<%= render "devise/sessions/form" %>
<%#= render "devise/shared/links" %>
