<br>
<div class="container text-center">

<div class="row">
<div class="col-sm-3 well">
<div class="well" style="background-color: rgb(100,100,100);">
<p>my profile</p>

</div>
<div class="well card">
<p> interest
<span class="label label-default">News</span>
<span class="label label-primary">News</span>
<span class="label label-success">News</span>
<span class="label label-info">News</span>
<span class="label label-warning">News</span><button class="btn-success"> click</button>
</p>
</div>
</div>

<div class="col-sm-7 card">
<!-- <div class="row"> -->
<!-- 	<div class="col-sm-2">
<div class="well card">
	
	<p> username</p><br>
	<img src="/assests/images/profile.png" class="img-circle" height="55" width="55">
	</div>
</div> -->
<!-- <div class="col-sm-10 card"> -->
	<!-- <div class="well"> -->
	<% @posts.each do |post| %>
			<div class="row">
				<div class="col-sm-2">
				<div class="well card">
	
	     <p> username</p><br>
	      <img src="/assests/images/profile.png" class="img-circle" height="55" width="55">
	      </div></div>
			<div class="col-sm-9 card">
				<li>Title: <%= post.title %> <br/> </li>
						<li>Body: <%= post.body.truncate(20).html_safe %></li>
						<li>User Email: <%= post.email %> <br/></li>
						<%= link_to "read",post,class: "btn btn-success"%><br><!-- </ul> -->
						</div>
<br>				<% end %>	
</div>
	</div>
<!-- </div> -->

</div>
<div class="col-sm-2 well "> 
<div class="card">
<p>other events</p>
</div>
</div>
</div>
<!-- display userid and  user pic -->	
				</div>
<footer class="container-fluid text-center">
<p>like us on facebook, twitter</p>
</footer>


