// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.create-questions {
		margin: 20px auto;
}

.show-questions {
		margin: 50px auto;
		position: absolute;
		left: 200px;
}

