<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<%= link_to "Social network",root_path,class: "navbar-brand"%>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
						<li class="nav-item">
								<%= link_to "Home",root_path, class: "nav-link"%>
						</li>
						<li class="nav-item">
								<%= link_to "About",about_path, class: "nav-link"%>
						</li>
						<li class="nav-item">
								<%= link_to "Contact",contact_path, class: "nav-link"%>
						</li>
				</ul>
		</div>
</nav>
